{:dependencies [[http-kit "2.5.0-alpha2"]
                [reagent "1.0.0-alpha2"]
                [borkdude/sci "0.1.1-alpha.7"]
                [cljs-ajax "0.7.5"]]
 :source-paths ["src"]
 :dev-http {8000 ["public" "node_modules"]}
 :builds
 {:app {:target :browser
        :output-dir "public/assets/app/js"
        :asset-path "/assets/app/js"
        :modules {:main {:init-fn bb-web.app/main}}}
  :bbjs {:target :browser
          :output-dir "bb_web"
          :asset-path "/"
          :modules {:bb_web {:init-fn bb-web.app/main}}
          :compiler-options {:optimizations :advanced}}}}

;; npm init -y
;; npm install shadow-cljs

;; shadow-cljs watch app

;; shadow-cljs compile bbjs
