.DS_Store
README.md.temp

js/
!js/bb_web/bb_web.js
!js/public/index.html
!js/shadow-cljs.edn
!js/src/bb_web/app.cljs

examples/m.txt
examples/n.txt
examples/log.txt

cgi-bin/hy/__pycache__
cgi-bin/hy/core/__pycache__
cgi-bin/hy/lex/__pycache__
cgi-bin/hy/extra/__pycache__
cgi-bin/guestbook/__pycache__

cgi-bin/__pycache__

cgi-bin/hy/__init__.pyc
cgi-bin/hy/contrib/__pycache__/
cgi-bin/hy/errors.pyc
cgi-bin/hy/importer.pyc
cgi-bin/hy/lex/__init__.pyc
cgi-bin/hy/lex/exceptions.pyc
cgi-bin/hy/models.pyc
cgi-bin/test/guestbook/__pycache__/

/vendor/
